/* ---------------------------------------------------------- HOBBIES PAGE ---------------------------------------------------------- */
.background {
    background-color: rgb(30, 58, 61);
  }

.font_color {
    color: rgb(255, 253, 228);
}

.title {
    position: relative;
    
    font-size: 30px;
    font-family: Verdana, sans-serif; 
    text-align: center;
    color: rgb(255, 253, 228);
}

/* --------------------------------------------------------- GYM SECTION --------------------------------------------------------- */
.gym {
    .gym_title {
        font-size: 40px;
        margin: 0;
        clear: left;
    }

    .gym_desc {
        font-size: 30px;
        font-family: Arial, sans-serif;
        line-height: 1.5;

        margin: 0;
        float: left;
    }

    .lifts_list{
        font-size: 25px;
        clear: left;
    }

    .gym_pr_vidz{
        display: inline-block;
        margin: 2px;
        text-align: center;
        vertical-align: top;
    }
    
    .gym_pr_vidz_title{
        font-size: 25px;
    }
}

/* --------------------------------------------------------- E-SPORTS SECTION --------------------------------------------------------- */
.esports {
    .esports_title {
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .esports_content {
        display: flex; /* Align text and image horizontally */
        align-items: flex-start; /* Align items to the top */
        gap: 50px; /* Space between text and image */
    }
    
    .esports_desc {
        font-size: 30px;
        font-family: Arial, sans-serif;
        line-height: 1.5; /* Better readability */

        margin-top: 0px;
        margin-bottom: 0px;

        flex: 1; /* Allows text to take up remaining space */
    }
    
    .esports_jersey {
        width: 225px;
        height: auto; 

        margin-top: 0px;
        margin-right: 12px;

        border: 2px solid rgb(255, 253, 228);
        border-radius: 8px;
    }

    .overwatch_highlights {
        width: 925px;
        height: auto;

        margin-left: 10px;
        margin-top: 10px;
    }
}

/* --------------------------------------------------------- NAVIGATION BUTTONS --------------------------------------------------------- */
.box {
    display: block;
    width: 110px;
    padding: 5px;
    border: 2px solid rgb(255, 253, 228);
    border-radius: 100px;
    margin: 1px auto;

    background-color: rgb(255, 253, 228);
    text-align: center;
    
    
    color: rgb(40, 75, 80);
    font-size: 20px;
    font-family: Tahoma;
    text-decoration: none; /* Remove underline from links */
}

.box:hover { /* Hover effect for box */
    background-color: rgb(60, 105, 110);
    border-color: rgb(255, 253, 228);
}

.home {
    position: absolute;
    top: 1px;
    right: 375px;

    margin: 30px auto;
    text-align: center;
}

.projects {
    position: absolute;
    top: 1px;
    right: 200px;

    margin: 30px auto;
    text-align: center;
}

.contact {
    position: absolute;
    top: 1px;
    right: 25px;
    
    margin: 30px auto;
    text-align: center;
}