/* ---------------------------------------------------------- HOBBIES PAGE ---------------------------------------------------------- */
.background {
    background-color: rgb(30, 58, 61);
  }

.font_color {
    color: rgb(255, 253, 228);
}

.title {
    position: relative;
    
    font-size: 30px;
    font-family: Verdana, sans-serif; 
    text-align: center;
    color: rgb(255, 253, 228);
}

/* --------------------------------------------------------- GYM SECTION --------------------------------------------------------- */
.gym {
    .gym_title {
        font-size: 40px;
        margin: 0;
        clear: left;
    }

    .gym_desc {
        font-size: 25px;
        line-height: 1.5;
        margin: 0;
        float: left;
    }

    .lifts_list{
        font-size: 25px;
        clear: left;
    }

    .gym_pr_vidz{
        display: inline-block;
        margin: 2px;
        text-align: center;
        vertical-align: top;
    }
    
    .gym_pr_vidz_title{
        font-size: 25px;
    }
}

/* --------------------------------------------------------- E-SPORTS SECTION --------------------------------------------------------- */
.esports{
    .esports_title {
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 1px;
        clear: left;
    }
    .esports_desc {
        font-size: 18px;
        font-family: Arial, sans-serif;
        line-height: 1.5; /* Optional for better readability */
    }
    
    .esports_jersey {
        float: right; /* Aligns the image to the right of the text */
        margin-left: 20px; /* Adds space between the image and the text */
        margin-bottom: 10px; /* Optional: Adds space below the image */
        width: 300px; /* Adjust the width */
        height: auto; /* Maintain the aspect ratio */
        border-radius: 8px; /* Optional: Add rounded corners */
        border: 2px solid rgb(255, 253, 228); /* Optional: Add a border */
    }
    


}
/* --------------------------------------------------------- NAVIGATION BUTTONS --------------------------------------------------------- */
.box {
    display: block;
    width: 110px;
    padding: 5px;
    border: 2px solid rgb(255, 253, 228);
    border-radius: 100px;
    margin: 1px auto;

    background-color: rgb(255, 253, 228);
    text-align: center;
    
    
    color: rgb(40, 75, 80);
    font-size: 20px;
    font-family: Tahoma;
    text-decoration: none; /* Remove underline from links */
}

.box:hover { /* Hover effect for box */
    background-color: rgb(60, 105, 110);
    border-color: rgb(255, 253, 228);
}

.home {
    position: absolute;
    top: 1px;
    right: 375px;

    margin: 30px auto;
    text-align: center;
}

.projects {
    position: absolute;
    top: 1px;
    right: 200px;

    margin: 30px auto;
    text-align: center;
}

.contact {
    position: absolute;
    top: 1px;
    right: 25px;
    
    margin: 30px auto;
    text-align: center;
}